.headerTop {
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

.headerTopSocial ul {
  display: initial;
}
.headerTopSocial ul li a {
  width: 25px;
  height: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 15px;
  background: #f7f7f7;
  border: 1px solid #eeeeee;
  color: #777;
}
.headerTopSocial ul li a:hover {
  color: #fff;
  border: 0;
}
.headerTopSocial ul li .hdrFacebook:hover {
  background: #3b5998;
}
.headerTopSocial ul li .hdrTwitter:hover {
  background: #1da1f2;
}
.headerTopSocial ul li .hdrInstagram:hover {
  background: #e44a73;
}
.headerTopSocial ul li.list-inline-item:not(:last-child) {
  margin-right: 4px;
}

.socialText {
  padding-right: 3px;
  font-size: 13px;
  display: none;
}

.headerSvg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 36px;
  height: 36px;
  fill: #444444;
}
.ecHeaderWishlist .headerSvg {
  width: 33px;
  height: 33px;
}

.textUpper {
  text-transform: uppercase;
}

.headerTopLeft {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.headerTopCenter {
  text-align: left !important;
}

.headerTopMessage {
  font-size: 13px;
  color: #777;
}
.headerTopMessage span {
  color: #222;
  padding-right: 5px;
}
.ecSidebarToggle {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 0px;
  flex: 0 0 0;
}

.ecHeaderBottons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.ecHeaderBottons > * + * {
  padding-right: 9px;
  margin-left: 27px;
}

.ecHeaderBottons .ecHeaderBtn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #444444;
  width: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 6px;
}

.ecHeaderBottons .ecHeaderBtn:hover {
  color: #222;
}

.ecHeaderBottons .ecHeaderBtn:hover .ecHeaderCount {
  color: #ffffff;
  background-color: #222;
}

.ecHeaderBottons .ecHeaderBtn:hover .headerSvg {
  fill: #ff909d;
}

.ecHeaderBottons .ecHeaderBtn:hover .cartAmount {
  color: #222;
}

.ecHeaderBottons .ecHeaderBtn img {
  font-size: 24px;
  line-height: 1;
}

.ecHeaderBottons .ecHeaderBtn .ecHeaderCount {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  position: absolute;
  z-index: 2;
  top: auto;
  right: 0;
  height: 20px;
  min-width: 20px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  background-color: #777777;
  bottom: 0;
  padding: 0 4px;
}

.ecHeaderBottons .ecHeaderBtn .cartAmount {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding-left: 15px;
  color: #0f0f0f;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.ecHeaderBottons .ecHeaderBtn.ecHeaderWishlist {
  padding-bottom: 0;
  padding-right: 8px;
  margin-left: 34px;
}
.ecHeaderBottons .ecHeaderBtn.ecHeaderWishlist .headerIcon {
  margin-top: 3px;
}
.ecHeaderBottons .ecHeaderBtn.dropdownToggle::after {
  display: none;
}
.ecHeaderBottons .ecHeaderUser:hover .headerSvg {
  fill: #ff909d;
}

.ecHeaderUser .dropdownToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: none;
  background-color: transparent;
  padding: 0;
}
.ecHeaderUser .dropdownToggle::after {
  display: none;
}
.ecHeaderUser .dropdownMenu {
  margin: 0;
  top: 50px !important;
  left: auto !important;
  right: 0 !important;
  min-width: 130px;
  overflow: hidden;
  padding: 0 10px;
  background: #ffffff;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 25px 4px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 25px 4px rgba(0, 0, 0, 0.06);
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  border: 1px solid #d9d9d9;
}
.ecHeaderUser .dropdownMenu li {
  border-bottom: 1px solid #ebebeb;
}
.ecHeaderUser .dropdownMenu li:last-child {
  border: none;
}
.ecHeaderUser .dropdownMenu .dropdownItem {
  padding: 7px;
  color: #777;
  font-size: 13px;
  font-weight: 300;
  background: transparent;
  text-transform: uppercase;
}
.ecHeaderUser .dropdownMenu .dropdownItem:hover {
  color: #222;
}

.dropdown {
  position: relative;
}

.dropdownToggle {
  white-space: nowrap;
}

.dropdownToggle::after {
  display: inline-block;
  margin-left: 4.08px;
  vertical-align: 4.08px;
  content: "";
  border-top: 4.8px solid;
  border-right: 4.8px solid transparent;
  border-bottom: 0;
  border-left: 4.8px solid transparent;
}
.dropdownToggle:empty::after {
  margin-left: 0;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 8px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #444444;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.dropdownMenuRight {
  right: 0;
  left: auto;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 2.5px 10px;
  clear: both;
  font-weight: 400;
  color: #444444;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdownItem:hover {
  color: #3a3a3a;
  background-color: #f8f9fa;
}
.dropdownItem:focus {
  color: #3a3a3a;
  background-color: #f8f9fa;
}
.dropdownItem:active {
  color: #ffffff;
  text-decoration: none;
  background-color: #555;
}
.dropdownItem:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.ecHeaderBottons .ecHeaderUser:hover .headerSvg {
  fill: #ff909d;
}

.ecHeaderUser .dropdownToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: none;
  background-color: transparent;
  padding: 0;
}

.ecHeaderUser .dropdownToggle::after {
  display: none;
}
.ecHeaderUser .dropdownMenu {
  margin: 0;
  top: 50px !important;
  left: auto !important;
  right: 0 !important;
  min-width: 130px;
  overflow: hidden;
  padding: 0 10px;
  background: #ffffff;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 25px 4px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 25px 4px rgba(0, 0, 0, 0.06);
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  border: 1px solid #d9d9d9;
}
.ecHeaderUser .dropdownMenu li {
  border-bottom: 1px solid #ebebeb;
}
.ecHeaderUser .dropdownMenu li:last-child {
  border: none;
}
.echHeaderUser .dropdownMenu .dropdownItem {
  padding: 7px;
  color: #777;
  font-size: 13px;
  font-weight: 300;
  background: transparent;
  text-transform: uppercase;
}
.ecHeaderUser .dropdownMenu .dropdownItem:hover {
  color: #222;
}
